* {
  box-sizing: border-box;
}

[v-cloak] {
  visibility: hidden;
}

body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
}

pre {
  display: inline-block;
  line-height: 0;
  white-space: normal;
}

.code {
  font-family: monospace;
  white-space: pre;
}

input,
select,
button {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 1em;
  background: white;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.inputs {
  display: flex;
  gap: 1em;
}

.inputs select,
.inputs button {
  flex-basis: 150px;
}

.no-margin {
  margin: 0;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.item {
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1em;
  background: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
